@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>





<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

    <!-- About Section -->
    <div class="w3-row w3-padding-64" id="about">
        <div class="w3-col m6 w3-padding-large w3-hide-small">
            <img src="bank.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
        </div>

        <div class="w3-col m6 w3-padding-large">
            <h1 class="w3-center">About Banking</h1><br>
            <h5 class="w3-center">Tradition since 1889</h5>
            <p class="w3-large">A bank is a financial institution that accepts deposits from the public and creates credit. Lending activities can be performed either directly or indirectly through capital markets.<span class="w3-tag w3-light-grey">Finance</span> Transfer.</p>
            <p class="w3-large w3-text-grey w3-hide-medium">A bank can generate revenue in a variety of different ways including interest, transaction fees and financial advice. Traditionally, the most significant method is via charging interest on the capital it lends out to customers..</p>
        </div>
    </div>

    <hr>

    <!-- Menu Section -->
    <div class="w3-row w3-padding-64" id="menu">
        <div class="w3-col l6 w3-padding-large">
            <h1 class="w3-center">Our Transfers</h1><br>

            <h4>Online Transfers</h4>
            <p class="w3-text-grey">Easy Transfers with security and privacy</p>
        </div>

        <div class="w3-col l6 w3-padding-large">
            <img src="bank.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
        </div>
    </div>

    <hr>
